*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

@media (max-width: 500px) {
  html {
    font-size: 55%; } }

@media (max-width: 432px) {
  html {
    font-size: 50%; } }

@media (max-width: 332px) {
  html {
    font-size: 45%; } }

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 1;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  overflow-x: hidden; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation-name: leftToRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.7rem;
    animation-name: rightToLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

@media (max-width: 1100px) {
  .heading-primary--main {
    font-size: 5rem; }
  .heading-primary--sub {
    letter-spacing: 1.33rem; } }

@media (max-width: 950px) {
  .heading-primary--main {
    font-size: 5rem; }
  .heading-primary--sub {
    letter-spacing: 1.33rem; } }

@media (max-width: 900px) {
  body {
    padding: 0; } }

@media (max-width: 850px) {
  .heading-primary--main {
    font-size: 4.5rem;
    letter-spacing: 3rem; }
  .heading-primary--sub {
    padding-top: 1.75rem;
    letter-spacing: 1rem; } }

@media (max-width: 650px) {
  .heading-primary--main {
    font-size: 3.5rem;
    letter-spacing: 2rem; }
  .heading-primary--sub {
    font-size: 1.6rem;
    letter-spacing: .9rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  -webkit-background-clip: text;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(0deg) skewX(12deg) scale(1.01);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

@media (max-width: 823px) {
  .heading-secondary {
    font-size: 3.25rem; } }

@media (max-width: 770px) {
  .heading-secondary {
    font-size: 3rem; } }

@media (max-width: 720px) {
  .heading-secondary {
    font-size: 2.5rem; } }

@media (max-width: 604px) {
  .heading-secondary {
    font-size: 2.25rem; } }

@media (max-width: 540px) {
  .heading-secondary {
    font-size: 2rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

@media (max-width: 985px) {
  .paragraph {
    font-size: 1.6rem; }
    .paragraph:not(:last-child) {
      margin-bottom: 1.5rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-md {
  margin-bottom: 8rem; }

.u-margin-bottom-md-1 {
  margin-bottom: 2rem; }

.u-margin-bottom-sm {
  margin-bottom: 1rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", cursive;
  padding: 1.5rem 4rem;
  display: inline-block;
  animation: moveUp 1s ease-out;
  transition: all .2s;
  position: relative;
  border: none;
  outline: none; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  border-radius: 10rem;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all .4s;
  /* animation on initial state */ }

.btn--white {
  background: #fff;
  border-radius: 5rem;
  color: #777;
  margin-top: 2rem; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background: #55c57a;
  border-radius: 5rem;
  color: #fff;
  margin-top: 2rem; }
  .btn--green::after {
    background-color: #28b485; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  padding: .3rem;
  border-bottom: 1px solid #55c57a;
  transition: all .2s;
  border-radius: 3px; }

.btn-text:hover {
  background-color: #55c57a;
  border-bottom: 1px solid transparent;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0px); }

@media (max-width: 750px) {
  .btn, .btn:link, .btn:visited {
    padding: 1.1rem 3rem;
    font-size: 1.2rem; } }

.composition {
  flex-basis: 60%;
  position: relative;
  margin-left: 3rem; }
  .composition__photo {
    display: block;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.45);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all .2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(0.5rem);
      box-shadow: 0 2.5 4rem rgba(126, 213, 111, 0.5);
      z-index: 5;
      outline-offset: 2rem;
      outline: 1.5rem solid #28b485; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
    opacity: .5; }

@media (max-width: 870px) {
  .composition {
    width: 85%;
    height: 100%;
    display: flex;
    padding-left: 3rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10rem auto; }
    .composition__photo {
      width: 25%;
      position: relative; }
      .composition__photo--p1 {
        top: 0;
        left: 0;
        transform: scale(1.15); }
      .composition__photo--p2 {
        top: -2rem;
        left: 10%;
        transform: scale(1.5);
        z-index: 5; }
      .composition__photo--p3 {
        top: 0;
        right: 0;
        transform: scale(1.15); } }

@media (max-width: 750px) {
  .composition {
    width: 100%; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
  overflow: hidden; }
  .bg-video__content {
    object-fit: cover;
    opacity: .2;
    height: 100%;
    width: 100%; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-5px) scale(1.05); }
  .feature-box--1 {
    grid-column: 1/1; }
  .feature-box--2 {
    grid-column: 2/2; }
  .feature-box--3 {
    grid-column: 3/3; }
  .feature-box--4 {
    grid-column: 4/4; }

@media (max-width: 1160px) {
  .feature-box {
    padding: 1.75rem; } }

@media (max-width: 1093px) {
  .feature-box {
    flex-basis: 22%; } }

@media (max-width: 1026px) {
  .feature-box {
    display: block;
    width: 50%;
    margin: 3rem auto;
    padding: 4rem; } }

@media (max-width: 800px) {
  .feature-box {
    width: 55%;
    margin: 3rem auto;
    padding-bottom: 4rem; } }

@media (max-width: 650px) {
  .feature-box {
    width: 75%; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  background-position: center;
  min-height: 40rem;
  width: 80%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
  .book__form {
    width: 50%;
    padding: 6rem; }

@media (max-width: 1420px) {
  .book {
    width: 90%; } }

@media (max-width: 1227px) {
  .book {
    width: 100%;
    box-shadow: 0.5rem 0 4rem rgba(0, 0, 0, 0.5); }
    .book__form {
      width: 57%; } }

@media (max-width: 1200px) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85) 60%, transparent 60%), url("../img/nat-10.jpg"); }
    .book__form {
      width: 67%; } }

@media (max-width: 990px) {
  .book {
    width: 100%;
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5); } }

@media (max-width: 800px) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.85)), url("../img/nat-10.jpg");
    width: 55%;
    margin: auto; }
    .book h3 {
      margin: 1.75rem auto; }
    .book__form {
      width: 100%;
      padding: 0.5rem; } }

@media (max-width: 698px) {
  .book {
    width: 75%; } }

@media (max-width: 580px) {
  .book {
    width: 85%; } }

.popup {
  height: 100vh;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  visibility: hidden;
  transform-origin: top right;
  transition: all .3s ease; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__container {
    width: 75%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 2fr 3fr;
    position: relative;
    opacity: 0;
    transform: scale(0.5);
    transition: all .2s; }
  .popup:target .popup__container {
    opacity: 1;
    transform: scale(1); }
  .popup__image-box {
    grid-column: 1/1;
    display: flex;
    flex-direction: column; }
    .popup__image-box img {
      width: 100%;
      object-fit: contain; }
  .popup__text-box {
    text-align: left;
    padding: 4rem;
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .popup__text-box p {
      column-count: 2;
      -webkit-column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid #eee;
      hyphens: auto; }
  .popup__cross a, .popup__cross a:link, .popup__cross a:visited {
    text-decoration: none;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    color: #333;
    cursor: pointer;
    transition: color .2s;
    font-size: 2.5rem; }
  .popup__cross a:hover {
    color: #55c57a; }

@media (max-width: 1245px) {
  .popup__container {
    width: 85%; } }

@media (max-width: 1100px) {
  .popup__container {
    width: 90%; } }

@media (max-width: 1045px) {
  .popup__text-box {
    padding: 3rem; } }

@media (max-width: 1004px) {
  .popup__text-box {
    padding: 2.5rem; } }

@media (max-width: 985px) {
  .popup {
    font-size: 70%; }
    .popup__text-box {
      padding: 2rem; }
      .popup__text-box p {
        column-count: 1; } }

@media (max-width: 950px) {
  .popup__text-box {
    padding: 1.25rem; }
    .popup__text-box .paragraph, .popup__text-box .heading-secondary, .popup__text-box .heading-tertiary {
      font-size: 120%; }
  __cross a, __cross a:link, __cross a:visited {
    font-size: 1.5rem; } }

@media (max-width: 800px) {
  .popup__text-box {
    padding: 1.25rem; }
    .popup__text-box .paragraph, .popup__text-box .heading-tertiary {
      font-size: 100%; } }

@media (max-width: 700px) {
  .popup__image-box img {
    width: 85%; }
  .popup__cross a, .popup__cross a:link, .popup__cross a:visited {
    text-decoration: none;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: color .2s;
    font-size: 1.25rem; }
  .popup__cross a:hover {
    color: #55c57a; }
  .popup .btn {
    font-size: 90%;
    padding: .5rem 2rem; }
  .popup .btn--green {
    margin-top: 0; } }

@media (max-width: 650px) {
  .popup__image-box {
    height: auto;
    padding-right: 1.5rem; }
    .popup__image-box img {
      width: 105%; } }

@media (max-width: 600px) {
  .popup__container {
    display: flex; } }

@media (max-width: 575px) {
  .popup__image-box {
    display: none; }
  .popup__text-box {
    width: 90%;
    margin: 0 auto;
    padding: 2.25rem; } }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  flex-basis: 20vw;
  position: relative; }
  .card__side {
    height: 50rem;
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%; }
  .card__heading-span {
    -webkit-box-decoration-break: clone;
    padding: 1rem 1.5rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 1rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-transform: capitalize;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    height: 100%;
    display: flex;
    padding: 3rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card__price-box {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .card__price-only {
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    color: #eee; }

.card-pic--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }

.card-pic--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg"); }

.card-pic--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }

@media (max-width: 1400px) {
  .card {
    flex-basis: 28%; } }

@media (max-width: 1234px) {
  .card {
    flex-basis: 30%; } }

@media (max-width: 1100px) {
  .card {
    flex-basis: 30%; } }

@media (max-width: 1040px) {
  .card__heading {
    font-size: 2.5rem; } }

@media (max-width: 968px) {
  .card__heading {
    font-size: 2.5rem; }
  .card__details ul li {
    font-size: 1.2rem; } }

@media (max-width: 900px) {
  .card {
    height: auto;
    width: 35rem;
    margin-bottom: 5rem; }
    .card__side {
      height: auto;
      position: relative;
      border-radius: 3px;
      transition: none; }
      .card__side--front {
        height: 53rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
      .card__side--back {
        transform: rotateY(0);
        height: 30rem;
        top: -8rem;
        z-index: -5; }
    .card:hover .card__side--front {
      transform: rotateY(0deg); }
    .card__heading {
      font-size: 2rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-transform: capitalize;
        text-align: center;
        font-size: 1.25rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
    .card__cta {
      height: 26rem;
      padding: 1rem;
      justify-content: flex-end; }
    .card__price-only {
      font-size: 1.2rem; }
    .card__price-value {
      font-size: 4.5rem;
      font-weight: 200;
      color: #eee; } }

.story {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 auto 6rem auto;
  padding: 6rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1rem 1fr 1rem 3.5fr 1rem;
  height: auto;
  transform: skewX(-5deg);
  align-items: center; }
  .story > * {
    transform: skewX(5deg); }
  .story__shape {
    grid-column: 2/3;
    height: 15rem;
    width: 15rem;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative; }
    .story__shape img {
      height: 100%;
      transform: translateX(-4rem) scale(1.2);
      transition: all 1s ease; }
    .story__shape figcaption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.7rem;
      opacity: 0;
      transition: all 1s ease;
      backface-visibility: hidden; }
  .story__text {
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .story:hover figcaption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

@media (max-width: 1150px) {
  .story {
    padding: 6rem 1rem; } }

@media (max-width: 1100px) {
  .story {
    width: 80%;
    padding: 8rem 2rem;
    transform: skewX(0deg); }
    .story > * {
      transform: skewX(0); }
    .story__text {
      flex-basis: 100%; } }

@media (max-width: 1000px) {
  .story {
    width: 90%; } }

@media (max-width: 800px) {
  .story {
    padding: 4rem; }
    .story__shape {
      display: block;
      height: 12rem;
      width: 12rem; }
    .story__text {
      width: 100%; } }

@media (max-width: 700px) {
  .story {
    font-size: 90%; }
    .story__shape {
      height: 10rem;
      width: 10rem; } }

@media (max-width: 620px) {
  .story {
    padding: 4rem 1.5rem; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  color: currentColor;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 2px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 2px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 45%;
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-input {
  display: none; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.5rem; }
  .form__radio-button::after {
    content: '';
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

@media (max-width: 800px) {
  .form__group:not(:last-child) {
    margin-bottom: .5rem; }
  .form__input {
    font-size: 1.25rem;
    width: 95%;
    margin: 0 auto; }
  #bookBtn {
    display: block;
    margin: 4rem auto; }
  .form__group:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; }
  .form__radio-group {
    width: 70%;
    display: inline-block;
    padding: 1rem 2.5rem; } }

.header {
  height: 95vh;
  min-height: 670px;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

@media (max-width: 1100px) {
  .header__logo {
    height: 3rem; } }

@media (max-width: 900px) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); } }

@media (max-width: 850px) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }
    .header__text-box {
      width: 90%;
      margin: 0 auto; } }

@media (max-width: 800px) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); }
    .header__text-box {
      width: 90%;
      margin: 0 auto; } }

@media (max-height: 650px) {
  .header {
    height: 50vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }

.section-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 45vh;
  background-color: #333;
  padding: 3rem; }

.footer__logo-box {
  height: 12rem;
  width: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__logo-box__img {
    height: 100%;
    width: 100%;
    object-fit: contain; }

.footer__item {
  cursor: pointer;
  display: inline-block;
  transition: all .2s;
  padding: 0 .5rem; }
  .footer__item:hover {
    transform: translateY(3px) rotate(-8deg) scale(1.05);
    color: #55c57a;
    font-weight: bold;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    background-color: #333;
    border-radius: 3px; }

.footer__text-box {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer__text-box--left {
    flex-basis: 43%;
    font-size: 1.6rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    border-top: 1.5px solid currentColor; }
  .footer__text-box--right {
    padding: 1.4rem 6rem;
    justify-content: space-between;
    border-top: 1.5px solid currentColor; }
    .footer__text-box--right span {
      padding: .5rem 2rem;
      font-size: 1.8rem;
      text-transform: uppercase; }

@media (max-width: 1100px) {
  .footer__text-box--left {
    flex-basis: 55%; }
  .footer__text-box--right {
    flex-basis: 35%;
    padding: 1.4rem 3rem; } }

@media (max-width: 1027px) {
  .footer__text-box {
    flex-direction: column; } }

@media (max-width: 750px) {
  .footer__logo-box {
    height: 10rem;
    width: 10rem; } }

.navigation__checkbox {
  display: none;
  pointer-events: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  right: 6.5rem;
  top: 6.5rem;
  background-image: radial-gradient(#7ed56f, #55c57a, #28b485);
  z-index: 1000;
  transition: transform .6s ease-in; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transform: scale(0) rotate(10deg);
  transition: all .6s ease-in;
  transform-origin: top right; }

.navigation__list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.navigation__item {
  padding: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 225%;
  transition: all .5s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation__link:active ~ .navigation__nav {
  opacity: 0; }

.navigation__link:active ~ .navigation__background {
  transform: scale(0); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  transform: scale(1) rotate(0); }

.navigation__icon {
  position: relative;
  margin-top: 3.25rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 1.8px;
    background-color: #28b485;
    display: inline-block;
    transition: all .2s;
    backface-visibility: hidden; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    height: 1.5px;
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -0.95rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(225deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

@media (max-width: 900px) {
  .navigation__button {
    height: 5rem;
    width: 5rem;
    top: 3rem;
    right: 2rem; }
  .navigation__background {
    height: 3rem;
    width: 3rem;
    right: 2.5rem;
    top: 3.5rem; }
  .navigation__icon {
    margin-top: 2.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 2.5rem;
      height: 1.5px; } }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 2rem;
  margin-top: -20rem; }
  .section-about-flex {
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    flex-basis: 50%; }

.about-text {
  flex-basis: 60%; }

@media (max-width: 1150px) {
  .section-about-flex {
    padding: 0rem 1.5rem; } }

@media (max-width: 1094px) {
  .section-about {
    margin-top: -36rem;
    padding: 38rem 1.5rem 15rem 1.5rem; }
    .section-about-flex {
      padding: 0rem 2.5rem; } }

@media (max-width: 970px) {
  .section-about-flex {
    padding: 0rem .5rem; } }

@media (max-width: 870px) {
  .section-about {
    font-size: 50%;
    text-align: center; }
    .section-about-flex {
      flex-direction: column; } }

.section-features {
  margin-top: -10rem;
  padding: 18rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 7rem;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 5rem, 100vw 0, 100vw 95%, 0 100%); }

@media (max-width: 1500px) {
  .section-features {
    padding: 18rem 7rem; } }

@media (max-width: 1300px) {
  .section-features {
    padding: 15rem 5rem;
    grid-column-gap: 3rem; } }

@media (max-width: 1160px) {
  .section-features {
    padding: 15rem 2px;
    grid-column-gap: 3.5rem; } }

@media (max-width: 1093px) {
  .section-features {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; } }

@media (max-width: 1026px) {
  .section-features {
    flex-direction: column;
    justify-content: space-between;
    align-items: center; } }

.section-tours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
  padding: 10rem 3rem 65rem 3rem;
  background-color: #f7f7f7; }
  .section-tours__container {
    width: 100%;
    height: 90%;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .section-tours__cta {
    transform: translateY(700%); }

@media (max-width: 1400px) {
  .section-tours__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem; } }

@media (max-width: 1300px) {
  .section-tours__container {
    padding: 0;
    justify-content: space-between; } }

@media (max-width: 1100px) {
  .section-tours {
    padding: 10rem 0 65rem 0; } }

@media (max-width: 1027px) {
  .section-tours {
    margin-top: -8rem; } }

@media (max-width: 900px) {
  .section-tours {
    margin-top: -8rem;
    padding: 10rem 3rem 0 3rem; }
    .section-tours .heading-secondary {
      margin-bottom: 3rem; }
    .section-tours__container {
      width: 100%;
      height: 100%;
      min-height: 90vh;
      padding: 2rem 6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
    .section-tours__cta {
      transform: translateY(-100%); } }

@media (max-width: 750px) {
  .section-tours__cta {
    transform: translateY(-200%); } }

.section-stories {
  padding: 12rem 1rem;
  position: relative; }

.section-booking {
  min-height: 85vh;
  background: linear-gradient(to bottom, #55c57a, #28b485);
  display: flex;
  justify-content: center;
  align-items: center; }

@media (max-width: 800px) {
  .section-booking {
    background: linear-gradient(to right, #7ed56f, #28b485); } }

@media (max-width: 650px) {
  .section-booking {
    min-height: 70vh; } }
